@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  outline: none;
}
header {
  background-image: url(../img/back_mob.jpg);
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 100px;
}
.navigation {
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: 700;
}
.header__top-content {
  margin-bottom: 36px;
}
.button-nav {
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1.2;
  border: 2px solid transparent;
  border-radius: 35px;
  width: 94px;
  height: 40px;
  background-color: transparent;
}
.signup-btn {
  border: 2px solid #ffffff;
}
.button-nav:hover,
.button-nav:focus {
  color: rgb(255, 78, 80);
}

.menu-buttons {
  padding-bottom: 97px;
  display: flex;
  justify-content: center;
}
.logo {
  display: block;
  color: #ffffff;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.bannertext-1 {
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0px;
}
.bannertext1-span {
  display: block;
}
.bannertext2-span {
  display: block;
}
.bannertext-2 {
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 18px;
}
.red-btn {
  display: block;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1.2;
  border-radius: 20px;
  width: 280px;
  height: 40px;
  background-color: rgb(255, 78, 80);
  margin: 0 auto;
  text-align: center;
  padding: 12px;
}
.red-btn:hover,
.red-btn:focus {
  background-color: #ffffff;
  color: rgb(255, 78, 80);
}
/*PARTNER SECTION*/
.header-partner-section {
  font-size: 22px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.partners {
  padding-top: 72px;
}
.partner-item {
  margin: 0 auto;
  text-align: center;
}
.partner-img {
  border-radius: 50%;
}
.partner-img-wrapper {
  width: 122px;
  height: 122px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}
.partner-img-wrapper::before {
  border-style: solid;
  content: "";
  border-width: 4px;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 37px;
  height: 37px;
  top: 70%;
  left: 70%;
}
.icon-tv:before {
  background-image: url(../img/icons/1.png);
  background-color: rgb(255, 78, 80);
}
.icon-glass:before {
  background-image: url(../img/icons/2.png);
  background-color: rgb(255, 165, 7);
}
.icon-coffee:before {
  background-image: url(../img/icons/3.png);
  background-color: rgb(28, 215, 173);
}
.icon-telegram:before {
  background-image: url(../img/icons/4.png);
  background-color: rgb(78, 115, 219);
}
.partner-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 18px;
}
.partner-description {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: center;
}
.see-other-partnert-btn {
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 78, 80);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 284px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 78, 80);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: 10px;
  margin: 0px auto 58px auto;
}
.see-other-partnert-btn:hover,
.see-other-partnert-btn:focus {
  background-color: rgb(255, 78, 80);
  color: #ffffff;
}
.partners-list {
  margin-bottom: 26px;
}
@media (max-width: 767px) {
  .partner-item:not(:last-child) {
    margin-bottom: 28px;
  }

  .header-btn-wrapper {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  header {
    background-image: url(../img/back_tab.jpg);
    background-size: cover;
  }
  .header-btn-wrapper {
    margin-bottom: 145px;
  }

  .bannertext2-span {
    display: inline;
  }

  .menu-buttons {
    padding-bottom: 0px;
  }

  .bannertext-1 {
    margin-bottom: 40px;
    font-size: 52px;
  }
  .bannertext-2 {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .red-btn {
    width: 226px;
  }

  .partners-list {
    margin-bottom: 34px;
  }
}
@media (max-width: 991px) {
  .partner-item:not(:nth-last-child(odd)) {
    margin-bottom: 28px;
  }
}

@media (min-width: 992px) {
  header {
    background-image: url(../img/back_desk.jpg);
    background-size: cover;
  }

  .bannertext-1 {
    margin-bottom: 36px;
  }
  .bannertext-2 {
    margin-bottom: 34px;
  }

  .header-partner-section {
    margin-bottom: 30px;
  }
}
